{% extends 'nav1.html' %}
{% block title %}
Strawberry Resume
{% endblock title %}
{% block form %}
<br>
<br>
<br>

<h1 data-aos="fade-up">Resume view</h1>

{% for resume in resumes %} 
<p> <b>Full Name:</b>{{resume.fullname}}</p>
<p> <b>Father Name:</b>{{resume.fathername}}</p>
<p> <b>Mother Name:</b>{{resume.mothername}}</p>
<p> <b>SSC Grade:</b>{{resume.ssc}}</p>
<p> <b>Inter Grade:</b>{{resume.inter}}</p>
<p> <b>Degree Grade:</b>{{resume.degree}}</p>
<p> <b>Specialized at :</b>{{resume.spec}}</p>
  {% endfor %}

  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong></strong>{{message}} 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
    {% endfor %}

{% endblock form %} 
