{% extends 'nav1.html' %}
{% block title %}
Strawberry Resume
{% endblock title %}
{% block form %}
<br>
<br>
<br>

<h1 data-aos="fade-up">Resume Update</h1>
{% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong></strong>{{message}} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

      </div>
      {% endfor %}
<form action="resume2/" method="post">{% csrf_token %}

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="{{user.username}}"  readonly required>
    <label for="username">FullName</label>
    <input type="text" class="form-control" name="fullname" id="fullname" placeholder="As in SSC certiicate" required>
    <label for="father">Father name</label>
            <input type="text" class="form-control" name="father" id="father" required>
            <label for="mother">Mother Name</label>
            <input type="text" class="form-control" name="mother" id="mother" required>
    </div>
    
    <div class="form-group">
    
    <label for="pass1">SSC grade</label>
    <input type="text" class="form-control" name="ssc" id="ssc" required>
    
    </div>
    <div class="form-group">
    
        <label for="pass1">Inter grade</label>
        <input type="text" class="form-control" name="inter" id="inter" required>
        
        </div>
        <div class="form-group">
    
            <label for="pass1">Degree grade</label>
            <input type="text" class="form-control" name="degree" id="degree" required>
            
            
            </div>
           


    <div class="form-check d-flex justify-content-center mb-5">
        <div class="d-flex justify-content-center mx-2 mb-2 mb-lg-2">
          <a href=""><button type="submit" class="btn btn-primary btn-sm btn-block">Save</button></a>
          </div>
    </div>
          
     
    
   

  </form>
{% endblock form %} 
