{% extends 'nav.html' %}
{% block title %}
Strawberry Reset Password
{% endblock title %}
{% block form %}
<br>
<br>
<br>

<h1 data-aos="fade-up">Request a Reset link</h1>
{% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong></strong>{{message}} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

      </div>
      {% endfor %}
<form action="/srkauth/request-reset-email" method="post">{% csrf_token %}

  <div class="form-group">

    <label for="username">Email</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="Enter your email" required>
    </div>
    
   

    
<br>
<br>

    <div class="form-check d-flex justify-content-center mb-5">
        <div class="d-flex justify-content-center mx-2 mb-2 mb-lg-2">
          <a href="/srkauth/index"><button type="submit" class="btn btn-primary btn-sm btn-block">Submit</button></a>
          </div>
    </div>

          <div class="form-group">
            <p class="text-center"><a href="/srkauth/login" id="signup">Go back?</a></p>
         </div>

         
       
          
     
    
   

  </form>
{% endblock form %} 
